<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <form action="#" th:action="@{/addcontato}" th:object="${contato}" method="post">
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="FirstName">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="LastName">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Email">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="submit" value="Add Contato">   
        </form>
    </body>
</html>